input#seller-quote-quantity, textarea#seller-quote-comment, input#seller-quote-price {
    width: 80%;
}
#wk-seller-quotation-form .wk-seller_tab{
	display: inline-block;
    width: 50%;
    vertical-align: top;
}
#wk-seller-quotation-form .wk-seller_tab table tbody tr th{
	vertical-align: middle;
}
#wk-seller-quotation-form .wk-seller_tab_comment{
	width: 48%;
	margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
#seller-quote-comment-image-add{
    cursor: pointer;
    display: block;
}
#seller-quote-comment-image-add::before{
	background: 0 0;
    color: #72777c;
    content: "\f502";
    font: normal 20px/20px dashicons;
    vertical-align: middle;
}
#wk-mp-rfq-image-container img, #wk-mp-rfq-comment-image-container img{
	width: 50px;
	display: inline-block;
	margin-right: 5px;
}
.wk-seller_tab_comment td{
	border-bottom: 1px solid #80808042;
}
#wk-mp-rfq-comment-image-container{
	display: block;
	padding-top:5px;
}
.wk-seller_tab_comment .wk-sup-bold {
	font-weight: 600;
	font-size: 14px;
}
.wk-seller_tab_comment td .wk-sup-comment-head .wk-sup-date-section {
	float: right;
}

.wk-sup-comment-body{
	background: #d7cad2;
	padding: 2px 10px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 2px;
}
.wkmprfq-message-arrow-self::after{
    border-color: #d7cad2 transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
}

.wkmprfq-message-arrow-other::after{
    border-color: #d7cad2 transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
}
p.wk-sup-comment-body.wkmprfq-message-arrow-self {
    margin-right: 20%;
    padding: 10px;
}
p.wk-sup-comment-body.wkmprfq-message-arrow-other {
    margin-left: 20%;
    padding: 10px;
}
.wk-rfq-main-quote table tbody tr td:not(:first-child) {
    word-break: break-word;
}

.wk-sup-comment-head {
	font-size: 15px;
    font-style: italic;
}
.wkmprfq-message-self{
	text-align: left;
	padding-top: 3px;
}

.wkmprfq-message-other{
	text-align: right;
	padding-top: 3px;
}

.wk-sup-comment-body .wk-sup-bold {
	font-weight: 600;
}
.wkmp-rfq-seller-quote table, .wk-rfq-main-quote table, .wkmp-rfq-sut-edit-quote table {
	border: 1px solid #928d8d;
}
.quotation-list-wrapper{
	position: relative;
}
.quotation-list-wrapper h2{
	display: inline-block;
}
.quotation-list-wrapper .add-new-quotation{
	display: inline-block;
	position: absolute;
	right: 0px;
}
.wk_accepted_quote::after{
    color: #72777c;
    content: "\f12a";
    font: normal 20px/20px dashicons;
    vertical-align: middle;
}

@media screen and (max-width:768px){
	
	#wk-seller-quotation-form .wk-seller_tab, #wk-seller-quotation-form .wk-seller_tab_comment{
		width: 100%;
	}
	#wk-seller-quotation-form .wk-seller_tab_comment{
		margin: 0;
		margin-top: 10px;
	}
	td.forminp {
        margin-left: 10px;
    }
}